body {
    font-family: "Arial", sans-serif;
    margin: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    /* Initially hide the sidebar off-screen */
    /* left: 0px; */
    width: 300px;
    height: 100%;
    background-color: #f8f9fa;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: scroll;
}

#toggleFiltersBtn {
    transition: all 0.3s ease-in-out;
}

.show {
    left: 0px;
    transition: all 0.3s ease-in-out;
}

.main-content {
    margin-left: 0px;
    transition: all 0.3s ease-in-out;
}

.expanded {
    margin-left: 300px;
    transition: all 0.3s ease-in-out;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

select,
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* Style the "Apply Filters" button */
#applyFiltersBtn {
    margin-top: 10px;
}

#resetFiltersBtn {
    margin-top: 10px;
}

/* Style the toggle button */
#toggleFiltersBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
}

#toggleFiltersBtn span {
    font-size: 20px;
    /* Adjust the size as needed */
}

/* Initially hide the cross icon */
#toggleFiltersBtn .cross-icon {
    display: none;
}

/* Hide the hamburger icon when the button is expanded */
#toggleFiltersBtn.expanded .hamburger-icon {
    display: none;
}

/* Show the cross icon when the button is expanded */
#toggleFiltersBtn.expanded .cross-icon {
    display: inline-block;
}