{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Visualization</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">


</head>

<body>
    <!-- Toggle Button -->
    <button id="toggleFiltersBtn" class="btn btn-secondary">
        <span class="hamburger-icon">&#9776;</span>
        <span class="cross-icon">&#10006;</span>
    </button>

    <div class="container">
        <div class="sidebar" id="sidebar">
            <h2>Dashboard Filters</h2>

            <!-- End Year Filter -->
            <label for="endYearFilter">End Year:</label>
            <select id="endYearFilter" class="form-control">
                <option value="all">All</option>
                {% for data in data_list|unique_topics:'end_year' %}
                <option value="{{ data.key }}">{{ data.value }}</option>
                {% endfor %}
            </select>

            <!-- Start Year Filter -->
            <label for="startYearFilter">Start Year:</label>
            <select id="startYearFilter" class="form-control">
                <option value="all">All</option>
                {% for data in data_list|unique_topics:'start_year' %}
                <option value="{{ data.key }}">{{ data.value }}</option>
                {% endfor %}
            </select>

            <!-- Topics Filter -->
            <label for="topicsFilter">Topics:</label>
            <select id="topicsFilter" class="form-control">
                <option value="all">All</option>
                {% for data in data_list|unique_topics:'topic' %}
                <option value="{{ data.key }}">{{ data.value }}</option>
                {% endfor %}
            </select>

            <!-- Sector Filter -->
            <label for="sectorFilter">Sector:</label>
            <select id="sectorFilter" class="form-control">
                <option value="all">All</option>
                {% for data in data_list|unique_topics:'sector' %}
                <option value="{{ data.key }}">{{ data.value }}</option>
                {% endfor %}
            </select>

            <!-- Region Filter -->
            <label for="regionFilter">Region:</label>
            <select id="regionFilter" class="form-control">
                <option value="all">All</option>
                {% for data in data_list|unique_topics:'region' %}
                <option value="{{ data.key }}">{{ data.value }}</option>
                {% endfor %}
            </select>

            <!-- PEST Filter -->
            <label for="pestFilter">PEST:</label>
            <select id="pestFilter" class="form-control">
                <option value="all">All</option>
                {% for data in data_list|unique_topics:'pestle' %}
                <option value="{{ data.key }}">{{ data.value }}</option>
                {% endfor %}
            </select>

            <!-- Source Filter -->
            <label for="sourceFilter">Source:</label>
            <select id="sourceFilter" class="form-control">
                <option value="all">All</option>
                {% for data in data_list|unique_topics:'source' %}
                <option value="{{ data.key }}">{{ data.value }}</option>
                {% endfor %}
            </select>

            <!-- Country Filter -->
            <label for="countryFilter">Country:</label>
            <select id="countryFilter" class="form-control">
                <option value="all">All</option>
                {% for data in data_list|unique_topics:'country' %}
                <option value="{{ data.key }}">{{ data.value }}</option>
                {% endfor %}
            </select>

            <!-- Apply Filters Button -->
            <button id="applyFiltersBtn" class="btn btn-primary">
                Apply Filters
            </button>
            <!-- Apply Filters Button -->
            <button id="resetFiltersBtn" class="btn btn-primary">
                Reset Filters
            </button>

        </div>

        <div class="main-content">
            <h2>Intensity Distribution</h2>
            <canvas id="intensityChart"></canvas>
        </div>
        <div class="main-content">
            <h2>Likelihood Distribution</h2>
            <canvas id="likelihoodChart"></canvas>
        </div>

    </div>



    <!-- <div>
        <h2>Relevance Scores</h2>
        <canvas id="relevanceChart" width="400" height="200"></canvas>
    </div>

    <div>
        <h2>Data Over Years</h2>
        <canvas id="yearChart" width="400" height="200"></canvas>
    </div>

    <div>
        <h2>Entries by Country</h2>
        <canvas id="countryChart" width="400" height="200"></canvas>
    </div>

    <div>
        <h2>Topic Frequency</h2>
        <canvas id="topicChart" width="400" height="200"></canvas>
    </div>

    <div>
        <h2>Region Distribution</h2>
        <canvas id="regionChart" width="400" height="200"></canvas>
    </div>

    <div>
        <h2>City Entries</h2>
        <canvas id="cityChart" width="400" height="200"></canvas>
    </div> -->

    <script src="{% static 'myapp/scripts.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>